@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Libre+Franklin:wght@300&family=Quicksand:wght@300&family=Roboto:wght@100;300;400&display=swap');

.footer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top: 2rem;
    margin-left: 20px;
    margin-right: 20px;
}

.footerConteudo {
    display: flex;
    justify-content: space-between;

    margin-bottom: 2rem;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 1rem;
    margin-top: -20px;
    width: 300px;
}

.footerTitle{
    font-family: 'Franklin';
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    color: #341947;
}

.sublogo{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: -10px;
    width: 100%;
}

.subtitle{
    font-family: 'Quicksand';
    font-size: 13.5px;
    font-family: normal;
    font-weight: 500;
    color: #341947;
}

.barLeft{
    height: 1px;
    background: #341947;
    width: 15%;
}

.barRight{
    height: 1px;
    background: #341947;
    width: 15%;
}

.btnSaibaMais{
    border: none;
    border-radius: 3px;
    background: #522472;
    width: 100px;
    height: 30px;
    color: #FFF;
    margin-top: .5rem;
    cursor: pointer;
}

.footerText {   
    width: 100%;
    text-align: justify;
    font-style: bold;
    font-weight: 1000;
}

.textStrong{
    font-weight: 900;
}

.footerText p{
    margin: 0;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #4D4D4D;
}

.barTop{
    width: 100%;
    height: 1px;
    background: #E7E7E7;
    margin-bottom: 2rem;
}

@media (max-width: 600px) {
    .footerConteudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100vw - 130px);
    }

    .footerText{
        margin-top: .5rem;
    }

    .btnSaibaMais{
        width: 70%;
        height: 25px;
    }
}