.contentHeader {
    position: absolute;
    left: 0%;
    right: 0%;

    background: #FDF1EB;
    max-width: calc(100vw - 220px);
    width: 1146px;
    height: 68px;
    padding: 0;

    display: flex;
    align-items: center;
}

.subtitleTop {
    position: absolute;
    width: 391px;
    height: 16px;
    left: 36px;
    top: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #725C5C;


}

.subtitleMid {
    position: absolute;
    width: 643px;
    height: 26px;
    left: 36px;
    top: 23px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    /* identical to box height */


    color: #725C5C;
}

.subtitleBottom {
    position: absolute;
    width: 105px;
    height: 16px;
    left: 36px;
    top: 48px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #725C5C;

}

@media (max-width: 600px) {
    .subtitleTop{ font-size: 4px; }
    .subtitleMid{ font-size: 12px; }
    .subtitleBottom{ font-size: 4px; }
}

@media (max-width: 768px) {
    .subtitleTop{ font-size: 6px; }
    .subtitleMid{ font-size: 14px; }
    .subtitleBottom{ font-size: 6px; }
}

@media (max-width: 992px) {
    .subtitleTop{ font-size: 8px; }
    .subtitleMid{ font-size: 16px; }
    .subtitleBottom{ font-size: 8px; }
    
}

@media (max-width: 1200px) {
    .subtitleTop{ font-size: 10px; }
    .subtitleMid{ font-size: 18px; }
    .subtitleBottom{ font-size: 10px; }
}