.contentHeader {
    width: 100%;
    min-height: 68px;
    height: auto;
    background: #FDF1EB;

    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.areaTitles {
    width: 643px;

    position: relative;
    left: 36px;
}

.titleTop {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;

    color: #725C5C;
}

.titleMid {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.375rem;

    margin: 0;
    color: #725C5C;
}

.titleBot {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;

    color: #725C5C;
}

.areaRight {
    display: flex;
    position: relative;
    right: 2.53%;
}

.btnTranslate {
    background: none;
    outline: none;
    width: 97px;
    height: 34px;
    cursor: pointer;

    border: 1px solid #CCCCCC;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    right: 30%;
}

.iconLanguage {
    width: 22px;
    height: 21px;
}

.iconDrop {
    width: 6px;
    height: 4px;
}

.profileTitles {
    display: flex;
    flex-direction: column;
    text-align: end;

    position: relative;
    right: 7%;
}

.titleWelcome {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}

.titleEmail {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
}

.photo {
    width: 48px;
    height: 30px;
    margin-bottom: .5em;

    box-sizing: border-box;

    position: relative;
}

.photo img {
    border-radius: 100%;
}

.photo .iconNotify {
    background: #F85959;
    border-radius: 10px;
    width: 12px;
    height: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 20%;
    top: 0%;
}

@media (max-width: 600px) {
    .contentHeader {
        padding: .3em 0;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .areaTitles {
        text-align: center;
        width: 100%;
        position: relative;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .areaRight {
        margin-top: .8em;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .btnTranslate {
        position: relative;
        left: 0;
    }

    .profileTitles {
        margin: .8em 0;
        display: flex;
        text-align: center;

        position: relative;
        left: 0;
    }

    .titleMid {
        font-size: .9rem;
        font-weight: 700;
        margin: .5em 0;
    }
}